doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    style. 
      body {
        font-family: Roboto, sans-serif;
        padding: 1em;
        background-color: #FF1493;
        color: white;
      }

      p {
        padding-block: 1em;
      }


  body
    h1= title
    p Welcome to my Media API!
    p!= message
    h2 Mock data titles/names
    div
        ul 
            each item in exampleData
                li= item.title ? item.title : item.username
            
        
