doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    style. 
      body {
        font-family: Roboto, sans-serif;
        padding: 1em;
        background-color: black;
        color: white;
      }

      p {
        padding-block: 1em;
      }

      a {
        color: yellow;
      }

      a:hover {
        color: green;
      }

      code {
        color: yellow;
        font-size: 1.2em;
      }


  body
    h1= title
    p Welcome to my Media API!
    p!= message
    
            
        
